#contact-banner-sec {
    width: 100vw;
    height: 46vh;
    background-image: url("./../../assests/Media/Backgrounds/contact-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.contact-banner-header {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #fff;
}

.banner-page-title {
    width: 100%;
    border-bottom: 1px solid #9e9e9e;
    margin-top: 2%;
    padding: 30px 130px;
}

.banner-page-title>h1 {
    font-size: 3rem;
    font-weight: 500;
    font-family: var(--pri-font);
}

.banner-page-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px 130px;
}

.banner-para {
    width: fit-content;
    font-size: 1.1rem;
    font-family: var(--pri-font);
    color: #bbbbbb;
    word-spacing: 2px;
    line-height: 25px;
}

.banner-para>a {
    text-decoration: none;
    color: var(--pri-color);
}


.banner-page-content>#para-2>span {
    color: var(--pri-color);
}