@media(min-width : 200px) and (max-width: 800px) {
    .row-nav{
        padding: 18px 15px;
    }
    
    .row1{
        width: fit-content;
        margin-left: 10px;
        align-self: center;
    }

    .nav-head-spc{
        width: fit-content;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .nav-logo{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .nav-logo>img{
        width: 80%;
    }
    .heading>h1{
        text-align: center;
        font-size: 16px;
    }
    
    #bars-sml-hidden-icn {
        display: block;
    }


    #bars-lge-view{
       display: none;
    }

    .nav>.profile>#user-id {
        display: none;
    }

    .row2{
        gap: 15px;
    }

    #profile>.profile-img>img{
        width: 40px;
    }
    #user-profile-name-cont{
        display: none;
    }
}