@media(min-width: 901px) and (max-width : 1440px) {

    /* Navbar  */
    .navbar {
        flex-direction: column;
        padding: 10px 15px;
        gap: 5px;
        align-items: center;
        justify-content: space-between;
    }

    /* Sec 2  */
    #sec2 {
        width: fit-content;
        position: absolute;
        left: 0px;
        top: 122px;

    }

}

/* Extra Breakpoint for navbar */
@media(min-width: 901px) and (max-width : 1080px) {
    #nav_links {
        width: 100%;
        gap: 10px;
        justify-content: center;
    }

    .link>a {
        font-size: 1.1rem;

    }

    .social_links {
        width: 50px;
        height: 60px;
    }

    #phone_link {
        font-size: 1.2rem;
    }

    #msg_link {
        font-size: 1.4rem;
    }

    #query_link {
        font-size: 1.4rem;
        font-weight: 900;
    }
}