@media(min-width: 901px) and (max-width : 1440px) {

    /* Navbar  */
    .navbar {
        flex-direction: column;
        padding: 10px 15px;
        gap: 5px;
        align-items: center;
        justify-content: space-between;
    }

    /* Sec 2  */
    #sec2 {
        width: fit-content;
        position: absolute;
        left: 0px;
        top: 122px;

    }

}

/* Extra Breakpoint for navbar */
@media(min-width: 901px) and (max-width : 1080px) {
    #nav_links {
        width: 100%;
        gap: 10px;
        justify-content: center;
    }

    .link>a {
        font-size: 1.1rem;
    }
}