@media (min-width : 200px) and (max-width:900px) {
    body {
        /* overflow-x: hidden; */
    }

    /* Navbar  */
    .navbar {
        width: 100%;
        background-color: #f6f6f6;
        padding: 25px 10px;
        gap: 30px;
        justify-content: space-between;
    }

    /* Navlogo  */
    .nav_logo {
        width: 220px;
        height: 44px;
    }

    /* nav Links  */
    #nav_links {
        background-color: #f6f6f6;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 90px;
        left: 0px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-left: 0px;
        padding-bottom: 20px;
        display: none;
    }

    .link {
        width: 100%;
        text-align: center;
        border-bottom: 2px dotted #ccc;
    }

    .link:hover {
        border-bottom: 2px dotted #ccc;
    }

    .link>a {
        font-size: 17px;
    }

    .search_icon {
        display: none;
    }

    #sign_button {
        background-color: #f6f6f6;
        margin-left: 0;
    }

    #sign_button>a {
        color: var(--font-color);
        font-size: 17px;
    }

    .search_icon2 {
        width: 40px;
        height: 40px;
        color: #fff;
        background-color: var(--pri-color);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 17px;
        border-radius: 50%;
        box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    }

    .search_icon2:hover {
        color: #fff;
        background-color: var(--font-color);
        transition: background-color 0.4s ease-in;
    }

    .mobile-nav {
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    #xmark {
        width: 100%;
        display: flex;
        font-size: 30px;
        align-items: center;
        justify-content: flex-end;
        padding: 3px 20px;
    }

    #nav_bars {
        display: flex;
        font-size: 35px;
        font-weight: 100;
        margin-top: 2px;
    }

    /* Sec 2  */
    #sec2 {
        width: fit-content;
        position: absolute;
        left: 0px;
        top: 77px;
    }

    .social_links {
        width: 45px;
        height: 50px;
    }

    #phone_link {
        font-size: 1rem;
        font-weight: 300;
    }

    #msg_link {
        font-size: 0.8rem;
        font-weight: 200;
    }

    #query_link {
        font-size: 1rem;
        font-weight: 600;
    }
}


