#contact-banner-sec {
    width: 100vw;
    height: 46vh;
    background-image: url("./../../assests/Media/Backgrounds/contact-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.contact-banner-header {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #fff;
}

.banner-page-title {
    width: 100%;
    border-bottom: 1px solid #9e9e9e;
    margin-top: 2%;
    padding: 30px 130px;
}

.banner-page-title>h1 {
    font-size: 3rem;
    font-weight: 500;
    font-family: var(--pri-font);
}

.banner-page-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px 130px;
}

.banner-para {
    width: fit-content;
    font-size: 1.1rem;
    font-family: var(--pri-font);
    color: #bbbbbb;
    word-spacing: 2px;
    line-height: 25px;
}

.banner-para>a {
    text-decoration: none;
    color: var(--pri-color);
}


.banner-page-content>#para-2>span {
    color: var(--pri-color);
}


/* Form Section  */
#contact-form-section {
    width: 100%;
    height: fit-content;
    padding: 35px 100px;
}


#form-title {
    padding: 10px 0px;
}

#form-title>h3 {
    font-size: 2.2rem;
    margin: 0%;
    line-height: 50px;
    font-family: var(--pri-font);
}


.form-content {
    width: 100%;
    height: 100%;
    margin-top: 4px;
    padding: 10px 0px;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.form-content>.row-1 {
    width: 50%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-content>.row-1>.input-box {
    color: #bbbbbb;
    width: 100%;
    height: 40px;
    padding: 5px 12px;
    font-size: 1.1rem;
    font-family: var(--pri-font);
    font-weight: 400;
    border: 2px solid #bbbbbb;
    outline: none;
}

.form-content>.row-1>.input-box:focus {
    border: 2px solid rgb(97, 97, 255);
}

.form-content>.row-1>.select-box {
    color: black;
    width: 100%;
    height: 40px;
    padding: 5px 12px;
    font-size: 1.1rem;
    font-family: var(--pri-font);
    font-weight: 400;
    outline: none;
}


.form-content>.row-2 {
    width: 50%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 15px;
}




.form-content>.row-2>.input-box {
    color: #bbbbbb;
    width: 100%;
    height: 40px;
    padding: 5px 12px;
    font-size: 1.1rem;
    font-family: var(--pri-font);
    font-weight: 400;
    border: 2px solid #bbbbbb;
    outline: none;
}

.form-content>.row-2>.input-box:focus {
    border: 2px solid rgb(97, 97, 255);
}

#msg-box {
    height: 150px;
}

.form-content>.row-2>#submit-button {
    width: 100%;
    height: 40px;
    background-color: var(--pri-color);
    border: none;
    color: #fff;
    padding: 5px 12px;
    font-size: 1.2rem;
    font-family: var(--pri-font);
    font-weight: 600;
}